<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8" />
	<title>
		{% block title %}
			A Project Manager
		{% endblock %}
	</title>
	{% block stylesheet %}
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
	{% endblock %}
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}js/datepicker.js"></script>
</head>
<body>
	<div class="container">
		<div class="one-third column">
			{% block left_content %}
				{% include 'shared/includes/auth.html' %}
			{% endblock %}
		</div>
		<div class="one-third column">
			{% block right_content %}
				<h1>This is the content</h1>
			{% endblock %}
		</div>
	</div>
	</body>
</html>